#include "APIKeys.h"

// !! It's important to NOT save or return keys to javascript and to NEVER use this with function pointers for security reasons!

std::string APIKeys::Google()
{
    return "API KEY GOES HERE";
}