//  This file is licenced under the GNU Affero General Public License and the Resonate Supplemental Terms. (See file LICENSE and LICENSE-SUPPLEMENT or <https://github.com/98ahni/Resonate>)
//  <Copyright (C) 2024 98ahni> Original file author

#include "APIKeys.h"

// !! It's important to NOT save or return keys to javascript and to NEVER use this with function pointers for security reasons!

std::string APIKeys::Google()
{
    return "API KEY GOES HERE";
}